.ztPage{overflow-x:hidden;overflow-y:hidden;min-width:1400px;background:#fff}.ztSec{position:relative;width:1400px;margin:0
auto}.ztWrap{position:relative;width:1920px;margin-left:-260px}.ztCon{position:relative;width:1400px;margin:0
auto;zoom:1}.ztCon:after{content:".";display:block;clear:both;height:0;font:0/0 sans-serif;visibility:hidden}.ztService{background-color:#f2f2f2}.ztTitle{margin-bottom:27px;text-align:center}.ztTitle
h2{margin-bottom:18px;line-height:42px;font-size:42px;color:#222;font-family:"SourceHanSerifCN-Heavy","微软雅黑"}.ztTitle h2
span{color:#28435c}.ztTitle
.line{margin-bottom:17px}.ztTitle .line
span{display:inline-block;width:170px;height:1px;margin:0
19px;background-color:#c9c9c9}.ztTitle .line
i{display:inline-block;width:10px;height:10px;margin-bottom:-5px;background-color:#bba588;transform:rotate(-45deg)}.ztTitle
p{line-height:14px;font-size:14px;color:#666;letter-spacing:15px}.secbanner{margin-bottom:60px}.secService1{margin-bottom:35px}.secService1
li{float:left;width:340px;height:340px;margin:0
13px 13px 0;background:url(../image/secService1_bg.png) center no-repeat}.secService1 li
.title{width:200px;height:73px;padding-top:7px;margin:0
auto 33px;line-height:32px;background-color:#28435c;text-align:center;font-size:24px;color:#fff;font-weight:normal}.secService1 li
.note{width:205px;height:90px;margin:0
auto 25px;line-height:18px;font-size:14px;color:#222;-webkit-line-clamp:5}.secService1 li
.ico{width:50px;margin:0
auto}.secService2{margin-bottom:115px}.secService2
li{float:left;width:450px;margin-right:25px;cursor:pointer}.secService2 li
.title{height:92px;line-height:92px;background:url(../image/secService2_bg.jpg) center no-repeat;text-align:center;color:#fff;font-size:24px}.secService2 li .title
span{font-size:32px;font-family:"SourceHanSerifCN-Heavy","微软雅黑"}